:root {
    --global-fonts: 'Livvic', sans-serif;
    --primary-green: #014E56;
    --primary-coral: #F67E7E;
    --primary-white: #fff;
    --secondary-light-green: #79C8C7;
    --secondary-green: #004047;
    --secondary-blue: #2C6269;
    --secondary-black-green: #012F34;
    --secondary-dark-green: #002529;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #F67E7E;
    outline-offset: unset;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--global-fonts);
    font-weight: 600;
    line-height: 25px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    flex-grow: 1;
}

/* HEADER */
.site-header {
    background-color: var(--primary-green);
    padding-top: 47px;
    position: relative;
    color: var(--primary-white);
}

.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 159px;
    height: 40px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header-item {
    margin-left: 40px;
}

.item-link {
    text-decoration: none;
    color: var(--primary-white);
    transition: 0.3s ease;
}

.item-link:hover {
    color: var(--primary-coral);
}

.item-link:active {
    opacity: 0.8;
}

.global-btn {
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 9px 33px;
    margin-left: auto;
    text-decoration: none;
    color: var(--primary-white);
    transition: 0.3s ease;
}

.global-btn:hover {
    background-color: var(--primary-white);
    color: var(--primary-green);
}

.global-btn:active {
    opacity: 0.8;
}

/* Hero */
.hero {
    padding-top: 124px;
    padding-bottom: 120px;
    background-color: var(--primary-green);
    position: relative;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.hero-text {
    width: 730px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.divider {
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    border: none;
    margin-left: 0px;
    margin-bottom: 40px;
}

.hero-img {
    position: absolute;
    left: 1419px;
    top: 229px;
}

/* Main */
.main-content {
    background-color: var(--secondary-green);
    position: relative;
}

.big-container {
    padding-top: 140px;
    padding-bottom: 168px;
    text-align: center;
}

.main-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 64px;
    color: var(--primary-white);
}

.m-flex-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 76px;
}

.m-child {
    background-color: var(--secondary-black-green);
    width: 350px;
    height: 253px;
    padding-top: 32px;
}

.child-img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
}

.child-title {
    padding-top: -16px;
    font-size: 18px;
    font-style: normal; 
    font-weight: 700;
    line-height: 28px;
    color: var(--secondary-light-green);
    margin-bottom: 0;
}

.child-text {
    margin-top: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    color: var(--primary-white);
}

.check-icon {
    padding-top: 4.5px;
}

.x-icon {
    padding-top: 22px;
}

.m-t-decor-img1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.mt-decor-img-2 {
    position: absolute;
    left: 1371px;
    top: 1001.8px;
}

.child-big-text {
    width: 254px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-left: 48px;
    padding-top: 8px;
}

.m-flex-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconss img:not(:first-child) {
    margin-left: 16px;
}

.m-b-section {
    position: relative;
    background-color: var(--secondary-black-green);
}

.m-b-decor {
    position: absolute;
    left: 0;
    top: 0;
}

.m-b-title {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 70px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: var(--primary-white);
}
.anons {
    padding-bottom: 156px;
    display: flex;
    align-items: center;
}

.anons img:not(:first-child) {
    margin-left: 80px;
}

.m-f-section {
    background-color: var(--primary-coral);
    color: var(--primary-white);
    padding-top: 76px;
    padding-bottom: 76px;
    position: relative;
}

.m-f-wrapper {
    display: flex;
    align-items: center;
}

.m-f-decor-img {
    position: absolute;
    top: 136px;
    left: 0px;
}

.m-f-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: var(--primary-green);
    margin-left: 158px;
}

.m-f-btn {
    color: var(--primary-green);
    background-color: var(--primary-coral);
    border: 2px solid var(--primary-green);
    margin-right: 140px;
    transition: 0.3s ease;
}

.m-f-btn:hover {
    background-color: var(--primary-green);
    color: var(--primary-coral);
}

.m-f-btn:active {
    opacity: 0.8;
}

.site-footer {
    background-color: var(--secondary-dark-green);
    padding-top: 48px;
    padding-bottom: 48px;
    color: var(--primary-white);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 120px;
}

.services-item:not(:first-child) {
    margin-left: 40px;
}

.services-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    color: var(--primary-white);
    transition: 0.3s ease;
}

.services-link:hover {
    color: var(--primary-coral);
}

.services-link:active {
    opacity: 0.8;
}

.info {
    margin-right: 225px;
}

.info-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.icons {
    margin-bottom: 51px;
    margin-left: 140px;
}

.fab {
    font-size: 26px;
    margin-right: 16px;
    transition: 0.3s ease;
}

.fab:hover {
    color: var(--primary-coral);
}

.fab:active {
    opacity: 0.8;
}

.s-n-title {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}